<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav>
      <% if current_user %>
        <%= link_to "Home", current_user %>
        <%= link_to "Logout", sessions_path %>
      <% else %>
        <%= link_to "login", new_session_path %>
        <%= link_to "Register", new_user_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
